.campo-entrada-form
{    
    border-radius: 8px;
    border: 1px solid #4A4949;
    background-color: transparent;    
    color: #fff;
    font-size: 16px;
    line-height: 120%;
    font-weight: 400;
    padding: 8px 16px;
}

.campo-entrada-form::placeholder
{
    color: #4A4949;
}